@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Raleway:wght@700&family=Skranji&display=swap');

/*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'MonteCarlo', cursive;
font-family: 'JetBrains Mono', monospace;
font-family: 'Skranji', cursive;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #d0dfff;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

header {
  width: 75%;
  background-color: #dce7ff;
  border-radius: 16px;
  margin: 25px 0px 0px 0px;
}

header:hover {
  transform: scale(1.02);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.titles {
  display: flex;
  align-items: center;
  gap: 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #000000;
}

.a::after {
  content: "";
  background-color: #3bc5709c;
  width: 0;
  height: 1.2px;
  display: block;
  margin: auto;
}

.a:hover {
  color: #ff605c;
}

body.dark .a:hover {
  color: #fa7d7b;
}

.a:hover::after {
  width: 100%;
  transition: width 0.3s linear;
}

.main {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0px 0px 0px;
}

img {
  opacity: 0.03;
  width: 100%;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 50px;
}

p {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 10px 0px;
}

h1 {
  font-family: 'Skranji', cursive;
  font-size: 28px;
}

h2 span {
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
}

.card {
  background-color: rgba(155, 187, 255, 0.54);
  border-radius: 6px;
  backdrop-filter: blur(10px);
  padding: 10px;
}

.tools {
  display: flex;
  align-items: center;
  padding: 0px;
}

.circle {
  padding: 0px 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.card-main {
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.typewriter {
  color: #090E16;
  position: relative;
}

.typewriter::after {
  content: "";
  border-left: 2px solid #8a2be2;
  background: #d0dfff;
  right: 0;
  height: 30px;
  position: absolute;
  animation: typewriter 3s infinite alternate steps(20);
}

@keyframes typewriter {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
} 

.button {
  width: 130px;
  height: 40px;
  background-color: #8ec4ce;
  border: none;
  border-radius: 5px;
}

/* Dark mode */
body.dark  {
  background: #090E16;
}

body.dark header {
  background-color: rgba(123, 74, 226, 0.05);
}

body.dark a {
  color: #dce7ff;
}

body.dark p {
  color: #d0dfff;
}

body.dark .typewriter {
  color: hsla(271, 100%, 78%, 0.521);
}

body.dark .typewriter::after {
  content: "";
  border-left: 2px solid hsl(271, 100%, 76%);
  background: #090E16;
  right: 0;
  height: 26px;
  position: absolute;
  animation: typewriter 4s infinite alternate steps(20);
}

body.dark h1 {
  color: aqua;
}

body.dark .card {
  background-color: rgba(3, 0, 10, 0.540);
}

body.dark .button {
  width: 130px;
  height: 40px;
  background-color: #152344;
  border: none;
  border-radius: 5px;
}
/* End of dark mode */

/* Resposive */
@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .switch {
    display: none;
  }

  .home {
    display: none;
  }

  .img-home {
    width: 70%;
    align-items: center;
  }

  .container-main {
    margin-top: 30px;
  }
}

/* Dark mode design */
.switch {
  --width-of-switch: 41.6px;
  --height-of-switch: 24px;
  --size-of-icon: 15px;
  --slider-offset: 5px;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 22.4px);
  width: var(--size-of-icon, 22.4px);
  border-radius: 20px;
  left: var(--slider-offset,4.8px);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  transition: .4s;
}

input:checked + .slider {
  background-color: #090E16;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,144px) + var(--slider-offset,176px)));
  background: #090E16;
  box-shadow: inset 0px -1px 2px -2px #8983f7,inset -6px -2px 0 0 #a3dafb;
}
/* End of dark mode design */

