@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,900;1,900&family=Raleway:ital,wght@0,600;1,600&display=swap');

/*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d0dfff;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark  {
  background: #090E16;
}

header {
/*   display: grid;
  place-content: center; */

  margin: 40px 200px 40px 200px;
  background-color: #dce7ff;
  border-radius: 16px;
  
}

body.dark header {
  background-color: rgba(123, 74, 226, 0.05);
  border-radius: 16px;
}

.nav-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

body.dark .nav-titles {
  padding: 10px;
}

.titles {
  display: flex;
  align-items: center;
  gap: 20px;
}

li {
  list-style-type: none;
}

a {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
}

body.dark a {
  color: #dce7ff;
}

.sun{
  width: 15px;
}

.moon {
  width: 12px;
}

/* Dark mode */
.switch {
  background: #222222;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none;
  height: 20px;
}

.switch::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: #f5e9e9;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100%;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background-color: #949db3;
  color: #111111;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 20px;
  color: #fff;

}