@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;1,400&family=MonteCarlo&family=MonteCarlo&family=Poppins:ital,wght@0,900;1,900&family=Raleway:ital,wght@0,600;1,600&display=swap');

/*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'MonteCarlo', cursive;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #d0dfff;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark  {
  background: #090E16;
}

header {
  width: 75%;
  background-color: #dce7ff;
  border-radius: 16px;
  margin: 25px 0px 0px 0px;
}

body.dark header {
  background-color: rgba(123, 74, 226, 0.05);
  border-radius: 16px;
}

.nav-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.home {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0px 0px 0px;
}

body.dark .nav-titles {
  padding: 10px;
}

.container-home {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 50px;
}

.titles {
  display: flex;
  align-items: center;
  gap: 20px;
}

li {
  list-style-type: none;
}

a {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
}

body.dark a {
  color: #dce7ff;
}

img {
  opacity: 0.03;
  width: 100%;
}


p {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 10px 0px;
}

body.dark p {
  color: #d0dfff;
}

.card {
  background-color: rgba(155, 187, 255, 0.54);
  border-radius: 6px;
  backdrop-filter: blur(10px);
  padding: 10px;
}

body.dark .card {
  background-color: rgba(3, 0, 10, 0.540);
  border-radius: 6px;
  backdrop-filter: blur(10px);
  padding: 10px;
}

.tools {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 0px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.card-body {
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

h1 {
  font-family: 'MonteCarlo', cursive;
}

.typewriter {
  color: #090E16;
  position: relative;
}

body.dark .typewriter {
  color: #d0dfff;
}

.typewriter::after {
  content: "";
  border-left: 2px solid blueviolet;
  background: #d0dfff;
  right: 0;
  height: 30px;
  position: absolute;
  animation: typewriter 3s infinite alternate steps(20);
}

body.dark .typewriter::after {
  content: "";
  border-left: 2px solid blueviolet;
  background: #090E16;
  right: 0;
  height: 30px;
  position: absolute;
  animation: typewriter 3s infinite alternate steps(20);
}

@keyframes typewriter {
  from {
width: 100%;
  }
  to {
    width: 0;
  }
}

body.dark h3, h4 {
  color: #152344;
}

body.dark h1, h2 {
  color: aqua;
}

.button {
  width: 130px;
  height: 40px;
  background-color: #152344;
  border: none;
  border-radius: 5px;
}

/* Dark mode */

.switch {
  --width-of-switch: 2.6em;
  --height-of-switch: 1.5em;
  --size-of-icon: 15px;
  --slider-offset: 5px;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
 transition: .4s;
}

input:checked + .slider {
  background-color: #090E16;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,9em) + var(--slider-offset,1em)));
  background: #090E16;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset 0px -1px 2px -2px #8983f7,inset -6px -2px 0 0 #a3dafb;
}
